* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./src/bg.jpg");
    background-color: rgb(15, 14, 14);
    font-family: 'Raleway', sans-serif;
    color: white;
}

.header {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 15px;
}

#logo {
    position: relative;
    top: 12px;
    left: 2px;
    margin: 10px 0 10px 25px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    align-items: flex-start;
}

.left h3 {
    margin: 5px;
}

.mid {
    align-self: center;
    position: relative;
    top: 10px;
    flex-grow: 3;
    margin-bottom: 2px;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 0;
    flex-wrap: nowrap;
    height: 18px;
    justify-content: center;
}

.navbar a {
    padding: 1px;
    margin: 10px;
    font-size: 1.2em;
    color: rgb(185, 160, 125);
    text-align: justify;
}

.navbar a:hover,
.navbar a.active {
    color: aquamarine;
    border-bottom: 1.5px solid rgb(224, 177, 153);
}

.right {
    position: relative;
    top: 15px;
    right: 15px;
    text-align: right;
    padding: 22px;
    margin-top: 10px;
}

.me {
    color: rgb(249, 248, 246);
    background-color: rgb(241, 179, 63);
    padding: 8px;
    border-radius: 20px;
}

.right a:hover {
    color: rgb(199, 226, 247);
    background-color: rgb(209, 145, 26);
}

main{
    margin: 10% 0;
}

.welcome{
    position: relative;
    top: 30%;
    text-align: center;
    margin-left: 0;
    margin-top: 200px;
}

.form_parent{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-end;
    width: 98%;
    padding: 50px;
    margin: 0;
    color: white;
}

.join_form{
    width: 50%;
    margin: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    border: 2px solid rgb(209, 201, 201);
    border-radius: 15px;
}

.join_form div{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.join_form input{
    display: block;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 10px;
    background-color: rgb(243, 237, 237);
    padding: 15px;
    color: #020202;
    text-align: center;
    width: 100%;
}

.join_form input[type="submit"]{
    width: 100%;
    color: white;
    background-color: black;
    border: 2px solid whitesmoke;
}

.join_form input[type="submit"]:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

footer{
  background-color: #444141;
  color: white;
  padding: 20px;
  border: 2px solid white;
  text-align: center;
  position: relative;
  bottom: 0;
}

@media screen and (max-width: 750px) {
    .header {
        background-color: azure;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
        padding-bottom: 5px;
    }

    #logo {
        display: block;
        position: static;
        margin: 5px;
        height: 60px;
        width: 60px;
        border-radius: 10px;
    }

    .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header div h3 {
        position: static;
        display: block;
        margin-top: 5px;
        margin-left: 0;
        margin-bottom: 2px;
    }

    .mid {
        align-content: center;
        width: 100%;
        position: relative;
        justify-content: center;
        padding: 1px;
        margin: 5px;
    }

    .navbar {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    li {
        text-align: center;
    }

    .navbar a {
        padding: 7px;
        color: rgb(139, 117, 87);
    }

    .header a{
        padding: 10px;
        margin-top: 3px;
        margin-bottom: 5px;
    }

    .right {
        position: static;
        width: 100%;
        text-align: center;
        margin: 3px;
    }

    .form_parent{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 30px;
        margin: 0;
        justify-content: center;
    }
    
    .join_form{
        position: static;
        width: 70%;
        align-items: center;
        align-self: center;
        justify-self: center;
        padding: 30px;
        border: 2px solid rgb(209, 201, 201);
        border-radius: 15px;
    }
    
    .join_form div{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .welcome{
        margin: 60px;
    }

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* css for contact.html */

div.contact *{
    text-align: center;
}

div.contact{
    display: flex;
    flex-direction: column;
    margin: 60px 0;
}

.social{
    display: flex;
    border: 2px solid whitesmoke;
    padding: 10px;
    border-radius: 25px;
    width: 350px;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    margin: 25px;
}

.social-logo{
    height: 30px;
    width: 30px;
    margin: 15px;
}

/* css for about.html */

div.about{
    padding: 30px;
    width: 100%;
    text-align: justify;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features{
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

div.about .sub_about{
    text-align: justify;
    font-weight: bold;
    border: 2px solid antiquewhite;
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
}

.features li{
    text-align: justify;
    padding: 5px;
    padding-left: 30%;
}

.features h2{
    text-align: center;
}
